fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
    width:80%

  }
  
  body{
    width: 95%;
    height: 100vh;
    margin: 0;
    padding: 35px;
   background-color: #1b1b32;
  }
  
  #description{
    text-align: center;
    font-style: italic;
    font-size: 25px;
  }
  
  .form{
    background-color: #FFFFED;
    padding: 150px;
  }
  
  #title{
    text-align: center;
  }
  
  .question{
    width: 20%;
  }
  
  input, textarea {
      border: 1px solid #0a0a23;
    color: black;
    margin: 10px 0 0 0;
    width: 70%;
    min-height: 2em;
  }
  
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 3em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
    color: white;
    border-radius: 20px;
    margin-top: 40px;
  }
  
  label{
    font-size: 20px;
  }
  
  .question, #number{
    width: 20%;
    margin-left: 10px;
  }
  
  input[type="checkbox"] {
    display: inline-block;
    margin: 0px 0;
    margin-right: 10px;
    /*width: auto;*/
  }
  input[type="radio"] {
    display: inline-block;
    margin: 0px 0;
    /*width: auto;*/
  }